*{
    /* border: 1px solid black; */
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    /* background-color: #fcf6f5; */
}
.aboutus{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fcf6f5;/
    
}
.aboutus #logo{
    width: 40px;
    height: 40px;
}
.about{
    margin: auto;
    font-size: 20px;
    justify-content: center;
    color: #990011;
}
#details{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
#rohit{
    border: 1px solid black;
    width: 300px;
    height: 600px;
    /* position: relative; */
    border-style: none;
}

#rohit .photor{
    border: 1px solid black;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    background-image: url(./rohit.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    
}
#rohit h2,p,a {
    text-align: justify;
    padding-bottom: 10%;
    box-sizing: border-box;
}
#manali{
    border: 1px solid black;
    width: 300px;
    height:600px;
    border-style: none;
}
#manali .photom{
    border: 1px solid black;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    background-image: url(./rohit.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}
#manali h2,p,a {
    text-align: justify;
    padding-bottom: 10%;
    box-sizing: border-box;
}
#vedant{
    border: 1px solid black;
    width: 300px;
    height:600px;
    border-style: none;
}
#vedant .photov{
    border: 1px solid black;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    background-image: url(./rohit.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}
#vedant h2,p,a {
    text-align: justify;
    padding-bottom: 10%;
    box-sizing: border-box;
}
#sameer{
    border: 1px solid black;
    width: 300px;
    height:600px;
    border-style: none;
}
#sameer .photos{
    border: 1px solid black;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    background-image: url(./rohit.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}
#sameer h2,p,a {
    text-align: justify;
    padding-bottom: 10%;
    box-sizing: border-box;
}